<!doctype html>
<title>Gouda Group Project</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>This Group is Pretty GOUDA!</h1>
  <b>Navigation:</b>
  <ul>
    <li><a href="{{ url_for('main') }}">Home</a></li>
    <li><a href="{{ url_for('recipe_finder') }}">Find a Recipe</a></li>
    <li><a href="{{ url_for('generator') }}">Create a Recipe</a></li>

  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
