{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Classifier{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
      <label for="classifier">Please input a list of ingredients separated by a comma:</label>
      <input name="name" id="classifer">
      
<!--       <br>
      <label for="pic16b">Are you in PIC16B?</label>
      <input type="radio" name="student" id="yes" value="yes">
      <label for="yes">Yes</label>
      <input type="radio" name="student" id="no" value="no">
      <label for="No">No</label>
      <br> -->
      
      <input type="submit" value="Submit form">
  </form>

{% if name %}
<br>
<p>We will output a recipe containing {{name}}</p>
{% endif %}

  
<!-- 
  {% if name %}
  <br>
  {% if student == "yes" %}
  <b>Hello {{name}}!  Do you like PIC16B?</b>
  {% else %}
  <b>Hello {{name}}!  Do you want to take PIC16B?</b>
  {% endif %}
  {% endif %}
 -->



{% endblock %}
