{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Welcome to our website!</p>

  <p>In need of a new recipe? Have a few old pantry items that have be used up? Well, look no further, because the Gouda Group has the answer for you!</p>

  <p>This website will enable you to both find and generate new recipes!</p>

  <p>The process is very simple! This website has two tabs:</p>
  <ol>
    <li>Find a Recipe:</li>
    <p>Here, you'll be able to retrieve an existing recipe from our database of over 1 million recipes based on your specified ingredients! Just input the ingredients you'd like to include and BAM! You'll have a matching recipe!</p>
    <li>Generate a Recipe:</li>
    <p>Here you'll be able to create an entirely computer generated recipe based only on whatever seed word you input. You can put in an ingredient or any other word you'd like!</p>
  </ol>

  <p>So what are you waiting for?! LET'S MAKE SOME RECIPES!</p>


{% endblock %}
