{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Find a Recipe{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="post">
      <label for="ingredients">Please input a list of ingredients separated by commas:</label>
      <input name="ingredients">
      
      <input type="submit" value="Submit">
  </form>

{% if ingredients %}
<br>
<p>Here is a recipe we found, which best matches the requested ingredients.</p>
<p>Title: {{title}}</p>

<p>Ingredients:</p>


<ul>
  {% for i in recipe_ingredients %}
  <li>{{i}}</li>
  {% endfor %}
 </ul>

<p>Instructions:</p>
<ul>
  {% for i in instructions %}
  <li>{{i}}</li>
  {% endfor %}
 </ul>

{% endif %}

{% endblock %}


